/* all of the body*/
body {
    font-family: "Pangolin", sans-serif;
	color: #585858;
    margin: 20px  auto 0;
    width: 80%;
}

h2,
h3 {
    margin: 0;
    padding: 5px 0 0 0;
}

/*header*/
#container-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    align-items: flex-end;
}

.col1 {
    width: 20%;
    align-self: flex-end;
}

.logo {
    width: 100px;
    height: 100px;
}

.col2 {
    text-align: right;
    margin: 0;
    padding: 2px;
}


/*break line*/

hr {
    max-width: 80%;
    margin-top: 2px;
    padding-top: 0;
}

/* start main */
.hero-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

/*showcase pics with links embedded*/

#showcase {
    margin: 0 auto;
    max-width: 80%;
}

.container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.skill {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
}

.skill-pic {
    width: 225px;
	height: 225px;
    border: 2px;
}

.skill-title {
    font-size: 1.5em;
    letter-spacing: 1px;
}

/*footer*/


/*break points - still working on */
@media screen and (max-width: 450px) {
	.col1 {
		width: 20%;
	}
}

	.col2 {
			width: 60%;
	}
	
	.container-header {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	
@media screen and (max-width: )